body{
	font-size:12px;
}
.wrapper{
	align-content: center;
	max-width:70%;
	padding:0px;
	margin: 0 auto;
}
a{
	color:white;
	margin:50px;
	padding:20px;
	width:50px;
	display:;
}
.left{
	float:left;
	max-width:20%;
	padding:0px;
	background-color:;
	align-content: left;
}
.right a{
	color:white;
	padding:14px;
	margin:0px;
}
.right{
	float: right;
	max-width:80%;
	background-color:;
	display:inline;

}
.clearfix after{
	visibility:hidden;
	display:block;
	font-size:0;
	content:"";
	clear:both;
	height:0;

}
.nav {  

}
div {
  height: 90px;
  line-height: 49px;
  text-align: ;
}
ul{
	list-style-type:none;
	margin:0px;
	padding:0;
	width:200px;
	font-size:16px;
	font-family: Arial, sans-serif;
	height: 100%; /* Full height */
    position: absolute; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */

}
li a{
    display: block;
    width: 45%;
    padding: 5px 17px;
    height:43px;
    text-decoration: none;
    text-align:center;

}
#one{
	background-color: #29abe2;
}
#two{
	background-color:#e27429;
}
#three{
	background-color:#0e6d95;
}
#four{
	background-color: #af5831;
}
#five{
	background-color:#0a2b39;
}
img{
	align-content: center;
}

#six{
	background-color:;
	padding: 10px;
	
}
#seven{
	background-color:white;

}
#eight{
	background-color:white;

}
#nine{
	background-color:white;

}
#ten{
	background-color:white;

}
/*
h1{
	text-align:center;
	color:#af5831;
	font-size:42px;

}
*/
.float{
	padding:10px;
}
.pic{
	margin:5px;
}
@media only screen and (max-width: 750px) { 
     /*Insert Styles Here*/ 
}